.box-maze {
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    background-image: url(../img/musedash/bg7.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.box-maze::-webkit-scrollbar{
    display: none;
}

.box-maze-scene{
    width: 300vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    transition: all 0.1s ease;

}

.maze-title {
    width: 35vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 9vw;
    color: white;
    text-shadow: 0.5vw 0.5vw 0.2vw violet;
    position: sticky;
    left:0;
    z-index: 1;
}

.maze-title-left,
.maze-title-right {
    width: 15vw;
}


.mazeitem {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.mazeitem-imgbg {
    flex: 100;
}

.mazeitem-img-frame {
    width: 40vw;
    height: 90vh;
    transform: translate(2vw, 1vw);
    border-radius: 1vw;
    overflow: hidden;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.mazeitem-img {
    width: 40vw;
    height: 90vh;
    transition: all 0.7s;
}

.mazeitem-img:hover {
    cursor: pointer;
}