.box-drawing {
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    background-image: url(../img/musedash/bg6.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.box-drawing::-webkit-scrollbar{
    display: none;
}

.box-drawing-scene{
    width: 130vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    transition: all 0.1s ease;

}

.drawing-title {
    width: 35vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 9vw;
    color: white;
    text-shadow: 0.5vw 0.5vw 0.2vw violet;
    position: sticky;
    left:0;
    z-index: 1;
}

.drawing-title-left,
.drawing-title-right {
    width: 15vw;
}


.drawingitem {
    width: 33vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.drawingitem-imgbg {
    flex: 78;
}

.drawingitem-img-frame {
    width: 28vw;
    height: 75vh;
    transform: translate(2vw, 1vw);
    border-radius: 1vw;
    overflow: hidden;
}

.drawingitem-img {
    width: 28vw;
    height: 75vh;
    transition: all 0.7s;
}

.drawingitem-img:hover {
    cursor: pointer;
}

.drawingitem-title {
    width: 33vw;
    text-align: center;
    flex: 14;
    font-size: 4.5vw;
    color: white;
    text-shadow: 0.2vw 0.2vw 0.1vw violet;
    transition: all 0.3s;
}