.box-RemCatch {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/musedash/bg8.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.workinging{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    font-size: 15vw;
    color:white;
    text-shadow: 0.5vw 0.5vw 0.2vw violet;
}