

.box-app {
    width: 100vw;
    transition: all 0.1s ease;
    background-image: url(../img/musedash/bg4.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.app-title{
    width: 100vw;
    height: 20vh;
    text-align: start;
    padding-left: 3vw;
    font-size: 12vw;
    color:white;
    text-shadow: 0.5vw 0.5vw 0.2vw violet;
}

.app-sub-title{
    width: 100vw;
    height: 10vh;
    text-align: end;
    padding-right: 3vw;
    font-size: 7vw;
    color:white;
    text-shadow: 0.5vw 0.5vw 0.2vw violet;

}

.app-columns{
    width: 100vw;
    height: 300vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.app-column{
    width: 33vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-column:nth-child(1){
    margin-top: 0vh;
}

.app-column:nth-child(2){
    margin-top: 30vh;
}

.app-column:nth-child(3){
    margin-top: 60vh;
}

.appitem {
    width: 33vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.appitem-imgbg {
    flex: 78;
}

.appitem-img-frame {
    width: 28vw;
    height: 75vh;
    transform: translate(2vw, 1vw);
    border-radius: 1vw;
    overflow: hidden;
}

.appitem-img {
    width: 28vw;
    height: 120vh;
    transition: all 0.3s;
}

.appitem-img:hover {
    cursor: pointer;
}

.appitem-title {
    flex: 14;
    font-size: 3vw;
    padding: 2vw;
    color: white;
    text-shadow: 0.2vw 0.2vw 0.1vw violet;
    transition: all 0.3s;
}

.appitem-discription {
    flex: 8;
    font-size: 2.5vw;
    transform: translateX(2vw);
    color: rgb(232, 226, 255);
    text-shadow: 0.1vw 0.1vw 0.1vw violet;
}