.navi {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 15vh;
    border: 2px solid white;
    transition: all 0.5s;
    color: white;
    user-select: none;
    z-index:10; 
}

.navi-rmt-frame {
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 50vw;
    height: 10vh;
    border-right: 2px solid white;
    overflow: hidden;
}

.navi-rmt-bg {
    position: absolute;
    width: 44vw;
    height: 8vw;
    top: 0;
    left: 3vw;
    overflow: hidden;
}

#navi-rmt {
    position: absolute;
    top: 2vh;
    left: 0px;
    width: 10000vw;
    height: 4vh;
    font-size: 2.4vw;
    text-align: start;
    animation: rmtcycle 1500s linear infinite backwards;
    user-select: none;
    transition: all 0.7s;
}

#navi-rmt:hover {
    color: #91bef0;
}

@keyframes rmtcycle {
    from {}

    to {
        transform: translateX(-100000px);
    }
}

.navi-rightpart {
    position: absolute;
    top: 0px;
    left: 50vw;
    width: 50vw;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
}

#navi-name{
    flex:6;
    font-size: 3.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s;
}

#navi-name:hover{
    color:violet
}

.navi-contactdiv{
    flex: 4;
    border-right: 2px solid white;
    display: flex;
    flex-direction:column;
}

#navi-contact{
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    font-size: 1.3vw;
    transition: all 0.5s;
}

#navi-contact:hover{
    font-size: 1.9vw;
}

.navi-contact-method{
    flex: 4;
    display: flex;
    flex-direction: row;
}

.navi-contact-item{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white;
    font-size: 1.3vw;
    transition: all 0.5s;
}

.navi-contact-item:hover{
    cursor: pointer;
}

#navi-contact-mail{
    border-right: 0px solid white;
}

#navi-contact-qq:hover{
    color:rgb(133, 255, 164)
}

#navi-contact-weixin:hover{
    color:rgb(255, 255, 139)
}

#navi-contact-phone:hover{
    color:rgb(255, 139, 139)
}

#navi-contact-mail:hover{
    color:rgb(174, 255, 255)
}

.navi-bottompart{
    position: absolute;
    width: 100vw;
    height: 5vh;
    top:10vh;
    right:0px;
    border-top: 2px solid white;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navi-item{
    width: 10vw;
    height: 5vh;
    font-size: 1.7vw;
    border-right: 2px solid white;
}

.navi-item:last-child{
    border-right: 0px solid white;
}

.navi-item:hover{
    cursor: pointer;
    color:violet;
}

.navi-item:first-child{
    color: violet;
}