
/* .televcenter {
    position: fixed;
    left: 32.25vw;
    top: 32.7vh;
    width: 35.5vw;
    height: 36vh;
    background-image: url(../img/telev/muse_noframe2.png);
    background-size: 35.5vw 36vh;
    transition: all 0.5s;
    pointer-events: none;
    display: none;
} */

.televcenter {
    position: fixed;
    left: 25vw;
    top: 20vh;
    width: 50vw;
    height: 60vh;
    background-image: url(../img/telev/muse_noframe2.png);
    background-size: 50vw 60vh;
    z-index: -1;
    transition: all 0.5s;
    pointer-events: none;
}

.telev {
    width: 100vw;
    /* height: 300vh; */
    text-align: start;
    background-image: url(../img/telev/musetelev.png);
    /* background-image: url(../img/telev/overdose4.jpg); */
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

.televcontent-space {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
    font-size: 12vw;
    text-align: center;
    text-shadow: 0.5vw 0.5vw 0.2vw violet;
}

.televcontent-space-left{
    padding-left: 2vw;
}

.televcontent-space-right{
    padding-right: 5vw;
}

.televitem {
    width: 100vw;
    height: 20vh;
    border: 4px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.5s;
}

.televitem:hover{
    border: 4px solid white;
}

.televitem:hover .televitem-title>a {
    color: #91bef0;
    text-shadow: 0.5vw 0.5vw 0.2vw violet;
}

.televitem:hover .televitem-discription {
    display: block;
    animation: televitem-discription-anime 0.3s ease 1 forwards;
}

@keyframes televitem-discription-anime {
    from {
        transform: translateY(-5vh);
    }

    to {
        transform: translateY(0vh);
    }
}

.televitem-title {
    color: white;
    height: 100%;
    font-size: 6vw;
    padding-left: 1vw;
    transition: all 0.5s;
    z-index: 2;
}

.televitem-title>a{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.televitem-discription {
    color: white;
    height: 100%;
    font-size: 4vw;
    padding-right: 2vw;
    display: none;
    text-shadow: 0.1vw 0.1vw black;
    z-index:2;
}

.televbefore {
    width: 100vw;
    height: 300vh;
    /* opacity: 0.1; */
    background-image: url(../img/iframesbg.jpg);
    background-attachment: fixed;
    background-size: 100vw 100vh;
}