* {
    margin: 0;
    padding: 0;
}

@font-face {
    /* 字体名称随意起 */
    font-family: kawayii;
    /*你下载字体所在的位置*/
    src: url('../font/xingyelangmanyuzhouwenrou.ttf');
}

body {
    font-family: kawayii;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.box-danmu {
    width: 100vw;
    height: 6vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
}

#danmuInput {
    width: 86vw;
    height: 4vh;
    margin-left: 1vw;
    border-radius: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 2px #91bef0 solid;
    font-family: kawayii;
}

#danmuInput:focus {
    border: 2px #91bef0 solid;
    outline: none;
    color: #91bef0;
}

#danmuSubmit {
    width: 9vw;
    height: 4vh;
    margin-left: 1vw;
    border-radius: 0.5vw;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-family: kawayii;
    font-size: 1.5vw;
}

@media (max-width: 768px) {
    #danmuInput {
        width: 76vw;
        font-size: 19px;
    }

    #danmuSubmit {
        width: 20vw;
        font-size: 19px;
    }
}

@keyframes notbiggest {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(-300vw);
    }
}

@keyframes toLeftBottom {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-50vw,70vh);
    }
}