
.box-bilibilitop {
    background-image: url('../image/bg.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.absolute {
    position: absolute;
}

.transition {
    transition: all 0.2s;
}

#heroin {
    height: 90vh;
    top: 5vh;
    left: 50vw;
    z-index:5;
}

#cake {
    width: 30vw;
    height: 50vh;
    bottom: 6vh;
    left: 1vw;
}

#leaf {
    width: 20vw;
    height: 20vh;
    bottom: 10vh;
    right: 5vw;
}

#chip{
    width: 150vw;
    height: 100vh;
    left: -25vw;
    z-index:8;
    pointer-events: none;
}

#flower {
    width: 30vw;
    height: 30vh;
    top: 10vh;
    left: 20vw;
    opacity: 0.8;
}

#kami{
    height:60vh;
    top:0vh;
    left:30vw;
    opacity: 0.9;
}

#oyishi{
    height:50vh;
    top:0vh;
    left:0vw;
    opacity: 0.95;
}

#zixin{
    height:60vh;
    top:40vh;
    left:35vw;
}