
.box-option{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 50vh;
    left:0px;
    top:28vh;
    font-size: 1.6vw;
}

#box-option1{
    flex:1;
    width: 17vw;
    font-size: 2.6vw;
    height:6vh;
    background-color: #EDC2EC;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    transition: all 0.5s;
}

#box-option1:hover,
#box-option2:hover,
#box-option3:hover,
#box-option4:hover
{
    width: 17vw;
    font-size: 2.6vw;
}

#box-option2{
    flex:1;
    width: 7vw;
    height:6vh;
    background-color: #DFC2EC;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    transition: all 0.5s;
}

#box-option3{
    flex:1;
    width: 7vw;
    height:6vh;
    background-color: #BFC1ED;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    transition: all 0.5s;
}

#box-option4{
    flex:1;
    width: 7vw;
    height:6vh;
    background-color: #B0C1ED;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    transition: all 0.5s;
}

.box-space{
    flex:1;
    height:6vh;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}