:root {
    --bodyColor: rgb(255, 243, 245);
    --letterInnerColor: rgb(255, 255, 236);
    --letterOuterColor: #fff480;
    --letterFoldDarkColor: #f9ee73;
    --letterFoldLightColor: #fffbcb;
    --letterContentColor: rgb(233, 254, 255);
}

body {
    background-color: var(--bodyColor);
}

#wrapper {
    width: 100%;
    height: 100vh;
    background: var(--bodyColor);
    visibility: hidden;
    transition: all 1.5s ease-in-out;
}

#perspective {
    position: fixed;
    top: 5vh;
    left: 50vw;
    margin-left: -45vw;
    perspective: 1000;
}

#container {
    box-shadow: 0px 2px 10px hsl(0, 0%, 10%);
    position: relative;
    width: 90vw;
    height: 90vh;
    transform-style: preserve-3d;
    z-index: -6;
    border-radius: 5px;
    transform: rotate(3deg);
}

#perspective:hover {
    transition: all 0.4s ease-in-out;
    transform: rotate(-2deg);
}

.face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background-image: radial-gradient(circle, var(--letterInnerColor) 70%, var(--letterOuterColor));
    z-index: 20;
    border-radius: 5px;
}

.letter-date {
    position: absolute;
    top: 4vh;
    left: 3vw;
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: start;
}

.letter-date-item {
    font-size: 2vw;
    border: black solid 1px;    
    margin-left: 1vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.tojj {
    position: absolute;
    top: 38vh;
    left: 25vw;
    width: 40vw;
    text-align: center;
    font-size: 5vw;
}


#stamp {
    position: absolute;
    right: 6vw;
    bottom: 10vh;
    width: 12vw;
}

.front h1 {
    color: #948D88;
    text-shadow: 0px 1px 1px hsl(0, 0%, 100%);
    font-size: 5vw;
    line-height: 1em;
    text-align: center;
    padding-top: 100px;
}

.front h1 span {
    color: #948D88;
    text-shadow: 0px 1px 1px hsl(0, 0%, 100%);
    font-size: 0.8em;
    text-align: center;
}

.back {
    background: -webkit-linear-gradient(top, hsl(54, 0%, 96%) 0%, hsl(54, 0%, 56%) 100%);
    transform: rotateY(-180deg);
}

#open {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 18vw;
    border-top: 36vw solid var(--letterFoldDarkColor);
    border-left: 36vw solid transparent;
    border-right: 36vw solid transparent;
    transform-origin: center top;
    z-index: 10;
}

#folds {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-left: 45vw solid var(--letterFoldDarkColor);
    border-top: 45vh solid transparent;
    border-bottom: 45vh solid transparent;
    z-index: 5;
}

#folds:after {
    content: "";
    position: absolute;
    bottom: -45vh;
    left: -45vw;
    height: 0;
    width: 18vw;
    border-bottom: 49.8214vh solid var(--letterFoldLightColor);
    border-left: 36vw solid transparent;
    border-right: 36vw solid transparent;
}

#folds:before {
    content: "";
    position: absolute;
    top: -45vh;
    right: -45vw;
    width: 0;
    height: 0;
    border-right: 45vw solid var(--letterFoldDarkColor);
    border-top: 45vh solid transparent;
    border-bottom: 45vh solid transparent;
}

#openpic {
    width: 24vw;
    height: 38vh;
    position: absolute;
    left: 33vw;
    top: 20vh;
    z-index: 2100000000;
    /* transition: all 0.2s ease-in-out; */
    text-align: center;
}