.loading {
    position: absolute;
    left: 40vw;
    top: 115vw;
    width: 20vw;
    height: 20vw;
    border-radius: 10vw;
    background-color: black;
    overflow: hidden;
    /* display: none; */
    pointer-events: none;
}

.loading-title{
    position: absolute;
    top:20vh;
    width: 100vw;
    text-align: center;
    font-size: 10vw;
    color:white;
}

.loading-three{
    position: absolute;
    left: -40vw;
    top:-15vw;
    width: 100vw;
    height: 100vh;
}