
.box-xuancaibinfen {
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 100vh;
    left: 0vw;
    z-index: 100;
    pointer-events: none;
}

#xuancaibinfen {
    height: 100vh;
    transition: all 0.1s ease;
}