

@font-face {
    /* 字体名称随意起 */
    font-family: keai;
    /*你下载字体所在的位置*/
    src: url('../font/xingyelangmanyuzhouwenrou.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: keai;
    user-select: none;
}

.box-all {
    position: absolute;
    top:0px;
    left:0px;
    text-align: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.box-colorful{
    position: absolute;
    top:2vh;
    left:2vw;
    width: 96vw;
    height: 96vh;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#mainScene{
    position: absolute;
    top:5vh;
    left:5vw;
    width: 90vw;
    height: 90vh;
    background-color: white;
}

#title{
    position: absolute;
    top:5vh;
    right:5.5vw;
    font-size: 7vw;
    color: #fbc2eb;
    text-shadow: 0.3vw 0.3vw 0.3vw white,
                 -0.3vw -0.3vw 0.3vw white;
}
