
@font-face {
    font-family: pixiv;
    src: url("../font/qager-zrlmw.ttf");
}

.galaxy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* perspective: 500vmax; */
    transform-style: preserve-3d;
    transform: rotateY(80deg) rotateX(80deg);
    z-index: 1;
    pointer-events: none;
}

.star-ring-fragment {
    position: absolute;
    top: calc(50vh - 20px);
    left: calc(50vw - 20px);
    width: 40px;
    height: 40px;
    /* box-shadow: 0px 0px 16px #91bef0; */
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform;
}

.star-ring-fragment-text {
    background-image: linear-gradient(45deg, #f07dff 0%, #91bef0 50%, #f07dff 100%);
    color: transparent;
    background-clip: text;
    background-size: 200% 200%;
    background-position: 0% 50%;
    animation: gradient-animation 0.5s ease infinite ;
    font-size: 48px;
    font-weight: 900;
    font-family: pixiv;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.origin-stable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateX(-80deg) rotateY(-80deg);
}

.origin-stable>img {
    height: 95%;
    object-fit: cover;
    transform: translateY(5%);
}