

.roller-space {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
    perspective: 100px;
}

.aiyiRemAlbum {
    position: absolute;
    border: 10px solid #91bef0;
    transform-style: preserve-3d;
    background-color: rgba(217, 241, 255, 0.405);
    transition: transform 0.5s cubic-bezier(0.33, 1, 0.33, 1);
    will-change: transform;
}

.aiyiRemAlbumImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.content {
    width: 100vw;
    height: 1000vh;
    transition: transform 0.5s cubic-bezier(0.33, 1, 0.33, 1);
}