* {
    margin: 0;
    padding: 0;
}

.box-all {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#mainScene {
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.2;
}

#blessTitle {
    position: absolute;
    top: 1vh;
    left: 0vw;
    width: 100vw;
    font-size: 6vw;
    text-align: center;
    color: #91bef0;
    text-shadow: 0.5vw 0.5vw 0.1vw violet,
        -0.5vw -0.5vw 0.5vw white;

}

.container {
    position: relative;
    top: -70vh;
    left: 35vw;
    width: 30vw;
    height: 30vw;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: all 1s;
}

.little {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: turn 6s linear infinite;
}

@keyframes turn {
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.little div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.little div img {
    position: absolute;
    width: 20%;
    height: 20%;
    object-fit: cover;
}

.little-item {
    transition: all 1s;
}

.image-item {
    transition: all 1s;
    opacity: 0.5;
}


.little2 {
    position: absolute;
    width: 20%;
    height: 20%;
    left: 40%;
    top: 40%;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: turn 6s linear infinite;
}

.little2 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.little2 img:nth-child(1) {
    transform: translateZ(3vw);
}

.little2 img:nth-child(2) {
    transform: rotateY(180deg) translateZ(3vw);
}

.little2 img:nth-child(3) {
    transform: rotateY(-90deg) translateZ(3vw);
}

.little2 img:nth-child(4) {
    transform: rotateY(90deg) translateZ(3vw);
}

.little2 img:nth-child(5) {
    transform: rotateX(90deg) translateZ(3vw);
}

.little2 img:nth-child(6) {
    transform: rotateX(-90deg) translateZ(3vw);
}

.image-item2{
    opacity: 1;
    transition: all 1s;
}